.icon-block {
    padding: 50px 15px;
}

.about {
	margin-top: 50px;
	margin-bottom: 50px;
}

.mark {
	color: #039be5;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

.contact {
	margin-bottom: 150px;
}